<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Java2UML</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/main.css') }}">
</head>
<body>

<div id="app">
	<div id="header">
		<b>Java2UML</b> &mdash; <a href="https://github.com/tlqaksqhr/Java2UML">GitHub repository</a>.
	</div>
<div id="panes" class="split split-horizontal">
	<div id="editbox" class="split">
		<div id="editor" class="split">
		</div>
		<div id="result" class="split">
			<a id="execute" href="#" class="button">make</a>
			<a id="clean" href="#" class="button">clean</a>
		</div>
	</div>
	<div id="graph" class="split">
	<div id="options">
		<label id="engine">
		Engine:
		<select>
			<option>circo</option>
			<option selected>dot</option>
			<option>fdp</option>
			<option>neato</option>
			<option>osage</option>
			<option>twopi</option>
		</select>
		</label>
		
		<label id="format">
		Format:
		<select>
			<option>svg</option>
			<option selected>png-image-element</option>
			<option>json</option>
			<option>xdot</option>
			<option>plain</option>
			<option>ps</option>
		</select>
		</label>
		
		<label id="raw">
		<input type="checkbox"> Show raw output
		</label>
	</div>
	<div id="output">
		<div id="error"></div>
	</div>
	</div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/theme-monokai.js"></script>
<script src="{{ url_for('static', filename = 'js/viz.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/fabric.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/split.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/svg-pan-zoom.min.js') }}"></script>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script>

var beforeUnloadMessage = null;

var resizeEvent = new Event("paneresize");
Split(['#editbox', '#graph'], {
	sizes: [25, 75],
	onDragEnd: function() { 
		var svgOutput = document.getElementById("svg_output");
		if (svgOutput != null) {
		svgOutput.dispatchEvent(resizeEvent);
		}
	}
});

Split(['#editor', '#result'], {
	sizes: [90, 10],
	direction: 'vertical'
});


var editor = ace.edit("editor");
editor.setTheme("ace/theme/monokai");
editor.getSession().setMode("ace/mode/java");


$("#execute").click(function(){
	var graph = document.querySelector("#output");
	var code = editor.getValue();

	graph.removeChild(graph.firstChild);

	$.post("/java2uml", {"code": code}, function(result){
		image = Viz(result, { format: "png-image-element" });
		graph.appendChild(image);
	});
});

$("#clean").click(function(){
	var graph = document.querySelector("#output");
	graph.removeChild(graph.firstChild);
});

</script>

</body>
</html>